<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foerderverein-Kita-Loewenbergpark</title>
    <link rel="icon" href="~/Foerderverein_logo.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Foerderverein_webseite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-/IM3Ha6GPVeLK3O62T9GAofO4fjI1maR/ow+YvF9AJXf2aqU+8C1rc7K3C+Q5JINfokdpNpt6rBfakToQ3plIw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex justify-content-between w-100">
                    <img src="~/Förderverein_logo.png" alt="Vereinslogo" class="header-logo"  width="65" height="65">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Förderverein Städtische Kita am Löwenbergpark.eV</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Startseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="UeberUns">Über uns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Veranstaltungen">Veranstaltungen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    &copy; 2023 - Förderverein Städtische Kita am Löwenbergpark.eV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col-12 col-md-6 text-md-end">
                    <a href="https://www.instagram.com/dein_instagram_account" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <p>Alle Rechte vorbehalten.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

