@using Npgsql
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Foerderverein_webseite.Views.Home.IndexModel

@{
    ViewData["Title"] = "Startseite";

    bool isDatabaseConnected = false;

    try
    {
        // Versuche eine Verbindung zur Datenbank herzustellen
        using (var connection = new NpgsqlConnection(Configuration.GetConnectionString("DefaultConnection")))
        {
            connection.Open();
            isDatabaseConnected = true;
        }
    }
    catch (Exception ex)
    {
        // Hier könntest du bei Bedarf eine genauere Fehlermeldung protokollieren
        Console.WriteLine($"Fehler bei der Verbindung zur Datenbank: {ex.Message}");
    }
}

<div class="text-center">
    <h1 class="display-4">HALLO</h1>
    @if (isDatabaseConnected)
    {
        <p>Die Datenbankverbindung wurde erfolgreich hergestellt.</p>
    }
    else
    {
        <p>Es konnte keine Verbindung zur Datenbank hergestellt werden.</p>
    }

    <h1>Hallo, diese Seite befindet sich im Aufbau</h1>

    @if (Model != null && Model.ArtikelList != null && Model.ArtikelList.Any())
    {
        <h2>Artikel:</h2>
        <ul>
            @try
            {
                @foreach (var artikel in Model.ArtikelList)
                {
                    <li>
                        <h3>@artikel.Titel</h3>
                        <p>@artikel.Inhalt</p>
                        <img src="@artikel.ImagePath" alt="Artikelbild">
                    </li>
                }
            }
            catch (Exception ex)
            {
                <p>Fehler beim Rendern der Artikelliste: @ex.Message</p>
            }

        </ul>
    }
    else
    {
        <p>Keine Artikel vorhanden.</p>
    }
</div>
