@page
@model Foerderverein_webseite.Views.Home.Kinderflohmarkt2024Model

<form method="post" asp-page-handler="OnPostAsync">
    <div class="form-group">
        <label for="Nachname">Nachname:</label>
        <input type="text" class="form-control" id="Nachname" asp-for="FlohmarktEntry.Nachname" required>
    </div>

    <div class="form-group">
        <label for="Vorname">Vorname:</label>
        <input type="text" class="form-control" id="Vorname" asp-for="FlohmarktEntry.Vorname" required>
    </div>

    <div class="form-group">
        <label for="Mailadresse">Mailadresse:</label>
        <input type="email" class="form-control" id="Mailadresse" asp-for="FlohmarktEntry.Mailadresse" required>
    </div>

    <div class="form-group">
        <label for="AnzahlTische">Anzahl Tische:</label>
        <input type="number" class="form-control" id="AnzahlTische" asp-for="FlohmarktEntry.Tische" required>
    </div>

    <div class="form-group">
        <label>Wählen Sie eine Option:</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="MitKuchen" name="KuchenOption" value="MitKuchen" asp-for="FlohmarktEntry.Kuchen">
            <label class="form-check-label" for="MitKuchen">Mit Kuchen</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="OhneKuchen" name="KuchenOption" value="OhneKuchen" asp-for="FlohmarktEntry.Kuchen">
            <label class="form-check-label" for="OhneKuchen">Ohne Kuchen</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Formular absenden</button>
</form>

@section Scripts {
    <script>
        // Überprüfe, ob das Popup angezeigt werden soll
        var showPopup = @(TempData["ShowPopup"] as bool? ?? false);

        // Wenn ja, zeige das Popup an
        if (showPopup) {
            alert('Die Daten wurden erfolgreich gespeichert!');
        }
    </script>
}
