@page
@model Foerderverein_webseite.Views.Home.Kinderflohmarkt2024Model


<form method="post">
    <div>
        <label for="FlohmarktEntry.Vorname">Vorname:</label>
        <input asp-for="FlohmarktEntry.Vorname" class="form-control" />
        <span asp-validation-for="FlohmarktEntry.Vorname" class="text-danger"></span>
    </div>

    <div>
        <label for="Nachname">Nachname:</label>
        <input asp-for="FlohmarktEntry.Nachname" class="form-control" />
        <span asp-validation-for="FlohmarktEntry.Nachname" class="text-danger"></span>
    </div>

    <div>
        <label for="Mailadresse">Mailadresse:</label>
        <input asp-for="FlohmarktEntry.Mailadresse" class="form-control" />
        <span asp-validation-for="FlohmarktEntry.Mailadresse" class="text-danger"></span>
    </div>

    <div>
        <label for="Tische">Tische:</label>
        <input asp-for="FlohmarktEntry.Tische" class="form-control" />
        <span asp-validation-for="FlohmarktEntry.Tische" class="text-danger"></span>
    </div>

    <div>
        <label for="Kuchen">Kuchen:</label>
        <input asp-for="FlohmarktEntry.Kuchen" type="checkbox" />
    </div>

    <button type="submit">Anmelden</button>
</form>



@section Scripts {
    <script>
        // Überprüfe, ob das Popup angezeigt werden soll
        var showPopup = @(TempData["ShowPopup"] as bool? ?? false);

        // Wenn ja, zeige das Popup an
        if (showPopup) {
            alert('Die Daten wurden erfolgreich gespeichert!');
        }
    </script>
}
